* {
  margin: 0;
  padding: 0;
  outline: 1px solid #071013;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url(../fonts/Quicksand-Bold.otf);
}

:root {
  --black: #071013;
  --cyan: #23b5d3;
  --moonstone: #75abbc;
  --cadetgray: #8cadbc;
  --cadetgray2: #a2aebb;
  --platino: #dfe0e2;
}

body {
  background-color: var(--platino);
  font-family: 'Quicksand-Regular', Arial, sans-serif;
}

header {
  height: 100px;
  width: 100%;
  background-color: var(--cyan);
  display: flex;
}

header img {
  width: 100px;
}

header ul {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header li {
  color: var(--platino);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem;
  transition: all 0.3s;
}

header li:hover {
  background-color: var(--platino);
  color: var(--cyan);
  border: solid 2px var(--cyan);
}

.negrita {
  font-weight: bold;
}

.container-images-cuerda {
  width: 80%;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #8bacbb;
  border-radius: 1rem;
  display: grid;
  grid-template-areas:
    'cuerda1 cuerda2 cuerda3 cuerda4 cuerda5'
    'cuerda1 cuerda6 cuerda6 cuerda4 cuerda5';
  grid-template-columns: 1.5fr 0.75fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container-images-cuerda :nth-child(1) {
  grid-area: cuerda1;
  width: fit-content;
}

.container-images-cuerda :nth-child(2) {
  grid-area: cuerda2;
}

.container-images-cuerda :nth-child(3) {
  grid-area: cuerda3;
}

.container-images-cuerda :nth-child(4) {
  grid-area: cuerda4;
}

.container-images-cuerda :nth-child(5) {
  grid-area: cuerda5;
}

.container-images-cuerda :nth-child(6) {
  grid-area: cuerda6;
}

.container-images-cuerda img {
  max-width: 100%;
}

p {
  text-align: center;
  margin: 2rem;
}
